<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.mapper.InventoryDetailMapper">

    <resultMap id="inventoryDetailVoMap" type="com.ruoyi.wms.domain.vo.InventoryDetailVo">
        <association property="itemSku" javaType="com.ruoyi.wms.domain.vo.ItemSkuVo">
            <id property="id" column="sku_id"/> <!-- 映射 itemSku 的 id -->
        </association>
        <association property="item" javaType="com.ruoyi.wms.domain.vo.ItemVo">
            <id property="id" column="item_id"/> <!-- 映射 item 的 id -->
        </association>
    </resultMap>

    <update id="deductInventoryDetailQuantity">
        update wms_inventory_detail
        set remain_quantity = remain_quantity -
        (
        case
        <foreach collection="list" item="it">
            when id = #{it.id} then #{it.shipmentQuantity}
        </foreach>
        end
        )
        ,
        update_time = #{updateTime},
        update_by = #{updateBy}
        where id in
        <foreach collection="list" open="(" separator="," close=")" item="it">
            #{it.id}
        </foreach>
    </update>
    <select id="selectPageByBo" resultMap="inventoryDetailVoMap">
        select
        detail.*,
        sku.id as sku_id,
        sku.*,
        item.id as item_id,
        item.*
        from wms_inventory_detail detail
        inner join wms_item_sku sku on detail.sku_id=sku.id
        inner join wms_item     item on sku.item_id=item.id
        <where>
            <if test="bo.batchNo != null and bo.batchNo != ''">
                detail.batch_no like concat('%', #{bo.batchNo}, '%')
            </if>
            <if test="bo.itemName != null and bo.itemName != ''">
                and item.item_name like concat('%', #{bo.itemName}, '%')
            </if>
            <if test="bo.itemCode != null and bo.itemCode != ''">
                and item.item_code like concat('%', #{bo.itemCode}, '%')
            </if>
            <if test="bo.skuName != null and bo.skuName != ''">
                and sku.sku_name like concat('%', #{bo.skuName}, '%')
            </if>
            <if test="bo.skuCode != null and bo.skuCode != ''">
                and sku.sku_code like concat('%', #{bo.skuCode}, '%')
            </if>
            <if test="bo.itemId != null">
                and item.id=#{bo.itemId}
            </if>
            <if test="bo.warehouseId != null">
                and detail.warehouse_id=#{bo.warehouseId}
            </if>
            <if test="bo.areaId != null">
                and detail.area_id=#{bo.areaId}
            </if>
            <if test="bo.batchNo != null and bo.batchNo != ''">
                and detail.batch_no=#{bo.batchNo}
            </if>
            <if test="bo.createStartTime != null and bo.createEndTime != null">
                and (detail.create_time between #{bo.createStartTime} and #{bo.createEndTime})
            </if>
            <if test="bo.expirationStartTime != null and bo.expirationEndTime != null">
                and (detail.expiration_date between #{bo.expirationStartTime} and #{bo.expirationEndTime})
            </if>
        </where>
        order by detail.warehouse_id,detail.area_id,sku.item_id,sku.id,detail.create_time
    </select>
    <select id="selectListByBo" resultType="com.ruoyi.wms.domain.vo.InventoryDetailVo">
        select
            detail.*
        from wms_inventory_detail detail
                 inner join wms_item_sku sku on detail.sku_id=sku.id
        <where>
            <if test="bo.batchNo != null and bo.batchNo != ''">
                detail.batch_no like concat('%', #{bo.batchNo}, '%')
            </if>
            <if test="bo.warehouseId != null">
                and detail.warehouse_id=#{bo.warehouseId}
            </if>
            <if test="bo.areaId != null">
                and detail.area_id=#{bo.areaId}
            </if>
            <if test="bo.batchNo != null and bo.batchNo != ''">
                and detail.batch_no=#{bo.batchNo}
            </if>
        </where>
        order by sku.item_id,sku.id,detail.create_time desc
    </select>
</mapper>
