<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.mapper.ItemSkuMapper">

    <sql id="selectItemSku">
        select * from wms_item_sku
    </sql>

    <select id="selectByBo" resultType="com.ruoyi.wms.domain.vo.ItemSkuVo">
        select
        sku.id,
        sku.sku_name,
        sku.item_id,
        sku.out_sku_id,
        sku.length,
        sku.width,
        sku.height,
        sku.height,
        sku.weight,
        sku.create_by,
        sku.create_time,
        sku.update_by,
        sku.update_time,
        item.item_name,
        item.item_no,
        item.item_brand,
        category.id itemCategory
        from wms_item_sku sku
        inner join wms_item item on sku.item_id=item.id
        inner join wms_item_category category on item.item_category=category.id
        where 1=1
        <if test="bo.itemName != null and bo.itemName != ''">
            and item.item_name like concat('%', #{bo.itemName}, '%')
        </if>
        <if test="bo.itemNo != null and bo.itemNo != ''">
            and item.item_no like concat('%', #{bo.itemNo}, '%')
        </if>
        <if test="bo.itemBrand != null">
            and item.item_brand=#{bo.itemBrand}
        </if>
        <if test="bo.skuName != null and bo.skuName != ''">
            and sku.sku_name like concat('%', #{bo.skuName}, '%')
        </if>
        <if test="bo.outSkuId != null and bo.outSkuId != ''">
            and sku.out_sku_id like concat('%', #{bo.outSkuId}, '%')
        </if>
        <if test="bo.itemCategory != null and bo.itemCategory != ''">
            and (category.id=#{bo.itemCategory} or category.parent_id=#{bo.itemCategory})
        </if>
        order by category.id desc,sku.item_id desc
    </select>
</mapper>
