<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyl.wms.mapper.CustomerTransactionMapper">
    
    <resultMap type="CustomerTransaction" id="CustomerTransactionResult">
        <result property="id" column="id"/>
        <result property="transactionCode" column="transaction_code"/>
        <result property="customerId" column="customer_id"/>
        <result property="transactionType" column="transaction_type"/>
        <result property="transactionAmount" column="transaction_amount"/>
        <result property="previousBalance" column="previous_balance"/>
        <result property="currentBalance" column="current_balance"/>
        <result property="shipmentOrderId" column="shipment_order_id"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectCustomerTransactionVo">
        select id, transaction_code, customer_id, transaction_type, transaction_amount, previous_balance, current_balance, shipment_order_id, remark, del_flag, create_time, update_time  from wms_customer_transaction
    </sql>

    <select id="selectByEntity" parameterType="CustomerTransaction" resultMap="CustomerTransactionResult">
        <include refid="selectCustomerTransactionVo"/>
        <where>  
            <if test="transactionCode != null  and transactionCode != ''"> and transaction_code = #{transactionCode}</if>
            <if test="customerId != null  and customerId != ''"> and customer_id = #{customerId}</if>
            <if test="transactionType != null  and transactionType != ''"> and transaction_type = #{transactionType}</if>
            <if test="transactionAmount != null "> and transaction_amount = #{transactionAmount}</if>
            <if test="previousBalance != null "> and previous_balance = #{previousBalance}</if>
            <if test="currentBalance != null "> and current_balance = #{currentBalance}</if>
            <if test="shipmentOrderId != null "> and shipment_order_id = #{shipmentOrderId}</if>
        </where>
    </select>


    <update id="updateDelFlagByIds">
        update wms_customer_transaction set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
