<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyl.wms.mapper.InventorySettlementMapper">
    
    <resultMap type="InventorySettlement" id="InventorySettlementResult">
        <result property="id" column="id"/>
        <result property="inventorySettlementStatus" column="inventory_settlement_status"/>
        <result property="settlementType" column="settlement_type"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="inventorySettlementNo" column="inventory_settlement_no"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectInventorySettlementVo">
        select id, inventory_settlement_status, settlement_type, del_flag, remark, create_by, create_time, update_by, update_time, inventory_settlement_no   from wms_inventory_settlement
    </sql>

    <select id="selectByEntity" parameterType="InventorySettlement" resultMap="InventorySettlementResult">
        <include refid="selectInventorySettlementVo"/>
        <where>  
            <if test="inventorySettlementStatus != null "> and inventory_settlement_status = #{inventorySettlementStatus}</if>
            <if test="settlementType != null "> and settlement_type = #{settlementType}</if>
            <if test="inventorySettlementNo != null  and inventorySettlementNo != ''"> and inventory_settlement_no = #{inventorySettlementNo}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update wms_inventory_settlement set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
