<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyl.wms.mapper.InventoryHistoryMapper">

    <resultMap type="InventoryHistory" id="InventoryHistoryResult">
        <result property="id" column="id"/>
        <result property="formId" column="form_id"/>
        <result property="formType" column="form_type"/>
        <result property="itemId" column="item_id"/>
        <result property="rackId" column="rack_id"/>
        <result property="quantity" column="quantity"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectInventoryHistoryVo">
        select id,
               form_id,
               form_type,
               item_id,
               rack_id,
               quantity,
               remark,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time
        from wms_inventory_history
    </sql>

    <select id="selectByEntity" parameterType="InventoryHistory" resultMap="InventoryHistoryResult">
        <include refid="selectInventoryHistoryVo"/>
        <where>
            <if test="formId != null ">and form_id = #{formId}</if>
            <if test="formType != null ">and form_type = #{formType}</if>
            <if test="itemId != null ">and item_id = #{itemId}</if>
            <if test="rackId != null ">and rack_id = #{rackId}</if>
            <if test="quantity != null ">and quantity = #{quantity}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update wms_inventory_history set del_flag=1
        <where>
            id in
            <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        insert into wms_inventory_history
        (form_id, form_type, item_id, rack_id, quantity, remark, del_flag, create_by, create_time, update_by,
        update_time, warehouse_id, area_id)
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.formId, jdbcType=BIGINT},
                #{item.formType, jdbcType=INTEGER},
                #{item.itemId, jdbcType=BIGINT},
                #{item.rackId, jdbcType=BIGINT},
                #{item.quantity, jdbcType=DECIMAL},
                #{item.remark, jdbcType=VARCHAR},
                #{item.delFlag, jdbcType=TINYINT},
                #{item.createBy, jdbcType=BIGINT},
                #{item.createTime, jdbcType=DATE},
                #{item.updateBy, jdbcType=BIGINT},
                #{item.updateTime, jdbcType=DATE},
                #{item.warehouseId, jdbcType=BIGINT},
                #{item.areaId, jdbcType=BIGINT},
            </trim>
        </foreach>
    </insert>
</mapper>
