<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyl.wms.mapper.InventoryCheckDetailMapper">
    
    <resultMap type="InventoryCheckDetail" id="InventoryCheckDetailResult">
        <result property="id" column="id"/>
        <result property="inventoryCheckId" column="inventory_check_id"/>
        <result property="itemId" column="item_id"/>
        <result property="quantity" column="quantity"/>
        <result property="checkQuantity" column="check_quantity"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="areaId" column="area_id"/>
        <result property="rackId" column="rack_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectInventoryCheckDetailVo">
        select id, inventory_check_id, item_id, quantity, check_quantity, warehouse_id, area_id, rack_id, del_flag, remark, create_by, create_time, update_by, update_time   from wms_inventory_check_detail
    </sql>

    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">

        insert into wms_inventory_check_detail
        (inventory_check_id,
        item_id,
        quantity,
        check_quantity,
        warehouse_id,
        area_id,
        rack_id,
        remark,
        create_by,
        create_time,
        update_by,
        update_time
        )
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.inventoryCheckId,jdbcType=BIGINT},#{item.itemId,jdbcType=BIGINT},#{item.quantity,jdbcType=DECIMAL},#{item.checkQuantity,jdbcType=DECIMAL},
                #{item.warehouseId,jdbcType=BIGINT}, #{item.areaId,jdbcType=BIGINT}, #{item.rackId,jdbcType=BIGINT},
                #{item.remark,jdbcType=VARCHAR},#{item.createBy,jdbcType=BIGINT},#{item.createTime,jdbcType=TIMESTAMP},
                #{item.updateBy,jdbcType=BIGINT},#{item.updateTime,jdbcType=TIMESTAMP},
            </trim>
        </foreach>

    </insert>

    <select id="selectByEntity" parameterType="InventoryCheckDetail" resultMap="InventoryCheckDetailResult">
        <include refid="selectInventoryCheckDetailVo"/>
        <where>  
            <if test="inventoryCheckId != null "> and inventory_check_id = #{inventoryCheckId}</if>
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="checkQuantity != null "> and check_quantity = #{checkQuantity}</if>
            <if test="warehouseId != null "> and warehouse_id = #{warehouseId}</if>
            <if test="areaId != null "> and area_id = #{areaId}</if>
            <if test="rackId != null "> and rack_id = #{rackId}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update wms_inventory_check_detail set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
