<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyl.wms.mapper.InventorySettlementDetailMapper">
    
    <resultMap type="InventorySettlementDetail" id="InventorySettlementDetailResult">
        <result property="id" column="id"/>
        <result property="settlementId" column="settlement_id"/>
        <result property="settlementType" column="settlement_type"/>
        <result property="itemId" column="item_id"/>
        <result property="itemNo" column="item_no"/>
        <result property="itemName" column="item_name"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="warehouseNo" column="warehouse_no"/>
        <result property="warehouseName" column="warehouse_name"/>
        <result property="areaId" column="area_id"/>
        <result property="areaNo" column="area_no"/>
        <result property="areaName" column="area_name"/>
        <result property="previousBalance" column="previous_balance"/>
        <result property="currentEnter" column="current_enter"/>
        <result property="currentOut" column="current_out"/>
        <result property="currentCheck" column="current_check"/>
        <result property="currentBalance" column="current_balance"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectInventorySettlementDetailVo">
        select id, settlement_id, settlement_type, item_id, item_no, item_name, warehouse_id, warehouse_no, warehouse_name, area_id, area_no, area_name, previous_balance, current_enter, current_out, current_check, current_balance, del_flag, remark, create_by, create_time, update_by, update_time   from wms_inventory_settlement_detail
    </sql>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">

        insert into wms_inventory_settlement_detail
        (settlement_id, settlement_type, item_id, item_no, item_name,
        warehouse_id, warehouse_no, warehouse_name,area_id, area_no, area_name,
        previous_balance, current_enter, current_out, current_check, current_balance,
        remark, create_by, create_time, update_by, update_time
        )
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.settlementId,jdbcType=BIGINT},#{item.settlementType,jdbcType=BIGINT},#{item.itemId,jdbcType=BIGINT},#{item.itemNo,jdbcType=VARCHAR},#{item.itemName,jdbcType=VARCHAR},
                #{item.warehouseId,jdbcType=BIGINT},#{item.warehouseNo,jdbcType=VARCHAR},#{item.warehouseName,jdbcType=VARCHAR},
                #{item.areaId,jdbcType=BIGINT},#{item.areaNo,jdbcType=VARCHAR},#{item.areaName,jdbcType=VARCHAR},
                #{item.previousBalance,jdbcType=DECIMAL},#{item.currentEnter,jdbcType=DECIMAL},#{item.currentOut,jdbcType=DECIMAL},#{item.currentCheck,jdbcType=DECIMAL},#{item.currentBalance,jdbcType=DECIMAL},
                #{item.remark,jdbcType=VARCHAR},#{item.createBy,jdbcType=BIGINT},#{item.createTime,jdbcType=TIMESTAMP},
                #{item.updateBy,jdbcType=BIGINT},#{item.updateTime,jdbcType=TIMESTAMP},
            </trim>
        </foreach>

    </insert>

    <select id="selectByEntity" parameterType="InventorySettlementDetail" resultMap="InventorySettlementDetailResult">
        <include refid="selectInventorySettlementDetailVo"/>
        <where>  
            <if test="settlementId != null "> and settlement_id = #{settlementId}</if>
            <if test="settlementType != null "> and settlement_type = #{settlementType}</if>
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="itemNo != null  and itemNo != ''"> and item_no = #{itemNo}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="warehouseId != null "> and warehouse_id = #{warehouseId}</if>
            <if test="warehouseNo != null  and warehouseNo != ''"> and warehouse_no = #{warehouseNo}</if>
            <if test="warehouseName != null  and warehouseName != ''"> and warehouse_name like concat('%', #{warehouseName}, '%')</if>
            <if test="areaId != null "> and area_id = #{areaId}</if>
            <if test="areaNo != null  and areaNo != ''"> and area_no = #{areaNo}</if>
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="previousBalance != null "> and previous_balance = #{previousBalance}</if>
            <if test="currentEnter != null "> and current_enter = #{currentEnter}</if>
            <if test="currentOut != null "> and current_out = #{currentOut}</if>
            <if test="currentCheck != null "> and current_check = #{currentCheck}</if>
            <if test="currentBalance != null "> and current_balance = #{currentBalance}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update wms_inventory_settlement_detail set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
