<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyl.wms.mapper.ShipmentOrderDetailMapper">
    <resultMap type="ShipmentOrderDetail" id="ShipmentOrderDetailResult">
        <result property="id" column="id"/>
        <result property="shipmentOrderId" column="shipment_order_id"/>
        <result property="itemId" column="item_id"/>
        <result property="planQuantity" column="plan_quantity"/>
        <result property="realQuantity" column="real_quantity"/>
        <result property="rackId" column="rack_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="areaId" column="area_id"/>
        <result property="shipmentOrderStatus" column="shipment_order_status"/>
    </resultMap>

    <sql id="selectShipmentOrderDetailVo">
        select id,
               shipment_order_id,
               item_id,
               plan_quantity,
               real_quantity,
               rack_id,
               del_flag,
               remark,
               create_by,
               create_time,
               update_by,
               update_time,
               warehouse_id,
               area_id,
               shipment_order_status
        from wms_shipment_order_detail
    </sql>

    <select id="selectByEntity" parameterType="ShipmentOrderDetail" resultMap="ShipmentOrderDetailResult">
        <include refid="selectShipmentOrderDetailVo"/>
        <where>
            <if test="shipmentOrderId != null">
                and shipment_order_id = #{shipmentOrderId}
            </if>
            <if test="itemId != null">
                and item_id = #{itemId}
            </if>
            <if test="planQuantity != null">
                and plan_quantity = #{planQuantity}
            </if>
            <if test="realQuantity != null">
                and real_quantity = #{realQuantity}
            </if>
            <if test="rackId != null">
                and rack_id = #{rackId}
            </if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update wms_shipment_order_detail
        set del_flag=1
        <where>
            id in
            <foreach collection="ids" open="(" item="it" close=")" separator=",">
                #{it}
            </foreach>
        </where>
    </update>
    <select id="countByOrderId" resultType="com.cyl.wms.pojo.vo.ShipmentOrderVO">
        select shipment_order_id id,
               count(*)          detail_count
        from wms_shipment_order_detail
                where shipment_order_id in
        <foreach collection="collection" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and del_flag = 0
                group by shipment_order_id
    </select>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        insert into wms_shipment_order_detail
                (shipment_order_id,
                 item_id,
                 plan_quantity,
                 real_quantity,
                 rack_id,
                 del_flag,
                 remark,
                 create_by,
                 create_time,
                 update_by,
                 update_time,
                 warehouse_id,
                 area_id,
                 shipment_order_status)
                values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.shipmentOrderId, jdbcType=BIGINT}, #{item.itemId, jdbcType=BIGINT},
                #{item.planQuantity, jdbcType=DECIMAL}, #{item.realQuantity, jdbcType=DECIMAL},
                #{item.rackId, jdbcType=BIGINT}, #{item.delFlag, jdbcType=TINYINT}, #{item.remark, jdbcType=VARCHAR},
                #{item.createBy, jdbcType=BIGINT}, #{item.createTime, jdbcType=DATE}, #{item.updateBy, jdbcType=BIGINT},
                #{item.updateTime, jdbcType=DATE}, #{item.warehouseId, jdbcType=BIGINT},
                #{item.areaId, jdbcType=BIGINT}, #{item.shipmentOrderStatus, jdbcType=TINYINT},
            </trim>
        </foreach>
    </insert>
</mapper>
