<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.mapper.ItemCategoryMapper">

    <update id="updateOrderNum">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update wms_item_type
            set order_num=#{item.orderNum}
            where id=#{item.id}
        </foreach>
    </update>
</mapper>
