<template lang="pug">
  .add_${className}_wrapper
    a-form
#foreach($column in $columns)
#if($column.edit)
      a-form-item(label="${column.genLabel()}")
        ${column.genComponent()}(v-model="form.${column.javaField}")
#end
#end
    a-button.mt16(type="primary" @click="add${ClassName}Click") 保存
</template>

<script>
import { add${ClassName}, query${ClassName}ById, update${ClassName} } from '@api/emergencyhandle/${className}'
import events from '@comp/MultiTab/events'

export default {
  name: 'Add',
  data () {
    return {
      form: {
#foreach($column in $columns)
#if($column.edit)
        ${column.javaField}: null,
#end
#end
      }
    }
  },
  created () {
    const { id } = this.$route.query
    if (id) {
      this.init${ClassName}(id)
    }
  },
  methods: {
    add${ClassName}Click () {
      const call = this.form.id ? update${ClassName} : add${ClassName};
      call({ ...this.form }).then(res => {
        this.$message.success('创建成功')
        events.$emit('close')
      })
    },
    init${ClassName} (id) {
      query${ClassName}ById(id).then(res => {
        this.form = res.data
      })
    }
  }
}
</script>

<style lang="stylus">
.add_${className}_wrapper
  .ant-form
    padding 1rem 0 0 1rem
    background-color white
    display flex
    flex-wrap wrap

    .ant-form-item
      width calc(50% - 1rem)
      margin-right 1rem
</style>
