package ${fullPackage};

#foreach ($import in $importList)
import ${import};
#end
import com.ruoyi.common.annotation.Excel;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#if(($table.crud || $table.sub) && $table.audit == 1)
import ${env.baseAudit};
#end
import lombok.Data;
import com.baomidou.mybatisplus.annotation.TableName;
/**
 * ${functionName}对象 ${tableName}
 * 
 * @author ${author}
 */
@ApiModel(description="${functionName}对象")
#if(($table.crud || $table.sub) && $table.audit == 1)
#set($Entity="BaseAudit")
#end
@Data
@TableName("${tableName}")
public class ${ClassName}#if($Entity) extends ${Entity}#end {
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
    @ApiModelProperty("$column.columnComment")
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($parentheseIndex != -1)
    @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()")
#elseif($column.isDate())
    @Excel(name = "${comment}", width = 30, dateFormat = "${column.dateFormat}")
#else
    @Excel(name = "${comment}")
#end
#end
    private $column.javaType $column.javaField;

#end
#end
#if($table.sub)
    /** $table.subTable.functionName信息 */
    private List<${subClassName}> ${subclassName}List;

#end
}
