import request from '@/utils/request'

export function query${ClassName}Page (params) {
  return request({
    url: `/emergencyhandle-service/emergencyhandle/${className}/list`,
    method: 'get',
    params
  })
}
export function query${ClassName}ById (id) {
  return request({
    url: `/emergencyhandle-service/emergencyhandle/${className}/` + id,
    method: 'get'
  })
}
export function add${ClassName} (data) {
  return request({
    url: `/emergencyhandle-service/emergencyhandle/${className}`,
    method: 'post',
    data
  })
}
export function update${ClassName} (data) {
  return request({
    url: `/emergencyhandle-service/emergencyhandle/${className}`,
    method: 'put',
    data
  })
}
export function delete${ClassName} (ids) {
  return request({
    url: `/emergencyhandle-service/emergencyhandle/${className}/` + ids.join(','),
    method: 'delete'
  })
}
export function export${ClassName} (params) {
  return request({
    url: `/emergencyhandle-service/emergencyhandle/${className}/export`,
    method: 'get',
    params,
    responseType: 'blob'
  })
}
export function import${ClassName} (file) {
  const formData = new FormData()
  formData.append('file', file)
  return request({
    url: `/emergencyhandle-service/emergencyhandle/${className}/importData`,
    method: 'post',
    data: formData,
    headers: {
      'Content-Type': 'multipart/form-data'
    }
  })
}
