<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyl.demo.mapper.TaskMapper">
    
    <resultMap type="Task" id="TaskResult">
        <result property="id" column="id"/>
        <result property="taskNo" column="task_no"/>
        <result property="taskName" column="task_name"/>
        <result property="taskAddress" column="task_address"/>
        <result property="incidentTime" column="incident_time"/>
        <result property="numberOfCases" column="number_of_cases"/>
        <result property="receiveDepartmentId" column="receive_department_id"/>
        <result property="reportDepartmentId" column="report_department_id"/>
        <result property="receiveUserId" column="receive_user_id"/>
        <result property="reportUserId" column="report_user_id"/>
        <result property="taskSource" column="task_source"/>
        <result property="phone" column="phone"/>
        <result property="receiveTime" column="receive_time"/>
        <result property="remark" column="remark"/>
        <result property="taskStatus" column="task_status"/>
        <result property="natureOfEvent" column="nature_of_event"/>
        <result property="taskType" column="task_type"/>
        <result property="incidentPlace" column="incident_place"/>
        <result property="eventLevel" column="event_level"/>
        <result property="publishTime" column="publish_time"/>
        <result property="disabled" column="disabled"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectTaskVo">
        select id, task_no, task_name, task_address, incident_time, number_of_cases, receive_department_id, report_department_id, receive_user_id, report_user_id, task_source, phone, receive_time, remark, task_status, nature_of_event, task_type, incident_place, event_level, publish_time, disabled, create_by, create_time, update_by, update_time , create_by, create_time, update_by, update_time from cscdc_task
    </sql>

    <select id="selectList1" parameterType="Task" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        <where>  
            <if test="taskNo != null  and taskNo != ''"> and task_no = #{taskNo}</if>
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="taskAddress != null  and taskAddress != ''"> and task_address = #{taskAddress}</if>
            <if test="incidentTime != null "> and incident_time = #{incidentTime}</if>
            <if test="numberOfCases != null "> and number_of_cases = #{numberOfCases}</if>
            <if test="receiveDepartmentId != null "> and receive_department_id = #{receiveDepartmentId}</if>
            <if test="reportDepartmentId != null "> and report_department_id = #{reportDepartmentId}</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
            <if test="reportUserId != null "> and report_user_id = #{reportUserId}</if>
            <if test="taskSource != null "> and task_source = #{taskSource}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="receiveTime != null "> and receive_time = #{receiveTime}</if>
            <if test="taskStatus != null "> and task_status = #{taskStatus}</if>
            <if test="natureOfEvent != null "> and nature_of_event = #{natureOfEvent}</if>
            <if test="taskType != null "> and task_type = #{taskType}</if>
            <if test="incidentPlace != null "> and incident_place = #{incidentPlace}</if>
            <if test="eventLevel != null "> and event_level = #{eventLevel}</if>
            <if test="publishTime != null "> and publish_time = #{publishTime}</if>
            <if test="disabled != null "> and disabled = #{disabled}</if>
        </where>
    </select>
</mapper>
