package ${fullPackage};

#foreach ($import in $importList)
import ${import};
#end
import com.fasterxml.jackson.annotation.JsonFormat;
import com.ruoyi.common.annotation.Excel;
#if(${table.audit} == 1)
import ${env.baseAudit};
#end
#if($table.sub)
import ${packageName}.${javaPath.pojo}.dto.${subClassName}DTO;
#end
import lombok.Data;
/**
 * ${functionName} 数据视图对象
 * 
 * @author ${author}
 */
@Data
public class ${ClassName}VO #if(${table.audit} == 1)extends BaseAudit#end {
#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
#if($column.isDate())
    @JsonFormat(pattern = "${column.dateFormat}")
    @Excel(name = "${column.genLabel()}", width = 30, dateFormat = "${column.dateFormat}")
#else
    @Excel(name = "${column.genLabel()}")
#end
    private $column.javaType $column.javaField;
#end
#end
#if($table.sub)
    private List<${subClassName}DTO> ${subclassName}List;
#end
}
